{% assign post = include.post %}
<div class="list__item home-post-card">
  <article class="archive__item">
    <h2 class="archive__item-title no_toc">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    {% if post.date %}
      <p class="archive__item-excerpt home-post-date">
        <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt }}</p>
    {% endif %}
    {% if post.gallery %}
      <div class="gallery home-post-gallery{% if post.gallery.size == 1 %} home-post-gallery--single{% endif %}">
        {% for image in post.gallery limit:3 %}
          <a href="{{ image.url | relative_url }}" class="image-popup home-post-image-link">
            <img src="{{ image.image_path | relative_url }}" alt="{{ image.alt }}" class="home-post-image">
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </article>
</div>